   
          div {
            position: relative;
            padding: 5px;
            width: 200px;
            height: 200px;
            text-align: center;
            border: 2px dotted green;
            box-sizing: border-box;
          }
          
          #first {
            border-color: green;
            }
          
          #second {
            top: -50px;
            border-color:orange;
          }
          
          .red {
            color: red;
            font-weight: bold;
            text-align: center;
            
          }